Image_processing_python/__pycache__/support_functions.cpython-36.pyc
Image_processing_python/__pycache__/send_data.cpython-36.pyc
Image_processing_python/yolov3-tiny.weights
Image_processing_python/yolov3.weights
.vscode/arduino.json
.vscode/c_cpp_properties.json
Image_processing_python/testing.py
Image_processing_python/ssd_mobilenet_v1_1_metadata_1.tflite
Image_processing_python/__pycache__/SerialDevice.cpython-36.pyc
